nav {
  height: 50px;
  box-sizing: border-box;
  background: var(--nav-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  grid-row: 3;

  img {
    width: 53px;
    height: 40px;
  }

  .menu-button {
    @include monospace(16);
    font-weight: bold;
    color: var(--title-icons);
    padding: .2rem .3rem;
    width: 80px;
    height: 45px;
    display: flex;
    align-items: center;

    &::before {
      content: '\2630';
      font-size: 20px;
      color: var(--title-icons);
      margin-right: .2rem;
      transition: .3s;
    }

    &.active::before {
        transform: rotate(-90deg);
      }

    @include device(desktop) {
      display: none;
    }
  }

  @include device(desktop) {
    background: none;
    grid-column: 2 / 7;
    position: initial;
    width: 100%;
    align-self: center;
    padding: 0;
    justify-content: initial;

    img {
      animation: show-up 1s forwards;
      margin-right: 63px;
    }
  }
}

.menu {
  height: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--nav-bg);
  bottom: 50px;
  left: 0;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .1s, opacity .2s linear;

  &.active {
    visibility: initial;
    opacity: .97;
    transition: .2s linear;
  }

  li {
    width: 140px;
    font-weight: bold;

    a {
      @include monospace(16);
      color: var(--title-icons);
      text-decoration: none;
      padding: 10px 20px;

      &.active {
        color: var(--highlight);
      }

      @include device(desktop) {
        padding: 10px;

        &:hover {
          color: var(--highlight);
        }
      }
    }
  }

  @include device(desktop) {
    height: initial;
    width: initial;
    visibility: initial;
    position: initial;
    background: none;
    align-self: center;
    min-width: 395px;
    opacity: 1;
    justify-content: flex-start;
    animation: show-up 1s forwards;
    margin-left: -5px;

    li {
      width: initial;
    }
  }
}