@import 'variables';
@import 'animations';
@import 'nav';

* {
  margin: 0;
  padding: 0;
  transition: .3s;
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55px 20px minmax(min-content, 72vh);
  margin: 15px 20px;

  @include device(desktop) {
    display: grid;
    grid-template-columns: 1fr 120px repeat(4, 1fr) 120px 1fr;
    grid-template-rows: 120px 1fr 160px;
    min-height: 100vh;
    margin: 0;
  }
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  @include device(desktop) {
    grid-column: 2 / 8;
    grid-row: 1;
  }
}

.theme-toggle {
  width: 35px;
  height: 35px;

  i {
    color: var(--title-icons);
    font-size: 24px;
  }

  @include device(desktop) {
    align-self: center;
    cursor: pointer;

    i {
      padding: .5rem;
      &:hover {
        color: var(--highlight);
      }
    }
  }
}

.title-container {
  grid-row: 2;

  @include device(desktop) {
    grid-column: 3 / 5;
    grid-row: 1;
    align-self: center;
    justify-self: baseline;
  }
}

.page-title {
  @include serif(32);
  font-size: 27px;
  color: var(--title-icons);
  font-weight: normal;
  text-align: center;

  @include device(desktop) {
    @include serif(32);
    color: var(--title-icons);
    font-weight: normal;
    justify-self: flex-start;
  }
}

#root {
  grid-row: 3;
  display: flex;
  align-items: center;

  @include device(desktop) {
    height: 100%;
    min-height: initial;
    width: 100%;
    grid-column: 3 / 7;
    grid-row: 2 / 3;
  }
}

.container {
  display: flex;
  flex-direction: column;

  p {
    @include monospace(16);
    color: var(--text);
  }

  @include device(desktop) {
    width: 100%;
    height: 100%;
    justify-content: center;

    p {
      @include monospace(18);
    }
  }
}

.home-page {
  display: flex;
  
  h1 {
    @include serif(75);
    max-width: 290px;
    color: var(--title-icons);
    margin: 10px 0 10px .4rem;
  }

  p:last-child {
    width: 250px;

    @include device(desktop) {
      width: initial;
    }
  }

  @include device(desktop) {
    margin-top: 0;
    display: flex;

    h1 {
      @include serif(160);
      width: 550px;
      margin: 15px 0 15px .7rem;
    }

  }
}

.about-page {
  p {
    margin: .5rem 0;
    text-indent: 5px
  }

  a {
    color: var(--highlight);
  }

  h4 {
    @include monospace(18);
    font-weight: bold;
    color: var(--title-icons);
    margin: .4rem 0 .2rem;
  }

  ul {
    width: 100%;
    list-style: none;
    display: flex;
  }

  li {
    margin: .5rem 1rem 0 0;

    i {
      font-size: 1.5rem;
      color: var(--title-icons);
    }
  }

  @include device(desktop) {
    p {
      width: 500px;
    }

    li {
      margin: .8rem 2rem 0 0;

      i {
        font-size: 2.2rem;
      }
    }
  }
}

.projects-page {
  overflow: hidden;
  width: 95%;
  height: 100%;
  margin: 0 auto;

  @include device(desktop) {
    margin: 0;
    width: 100%;
  }

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    margin: 1.5rem auto .7rem;

  }

  li {
    opacity: .5;
    margin-right: 1.125rem;

    &.active {
      opacity: 1;
    }

    img {
      width: 35px;
      height: 35px;
    }

    @include device(desktop) {
      cursor: pointer;

      &:hover {
        opacity: .9;
      }

      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  section {
    width: 100%;
    height: 100%;
    margin-bottom: 1.5rem;
    display: none;

    &.active {
      display: initial;
      animation: show-left 1s forwards;

      @include device(desktop) {
        display: flex;
        align-items: center;
      }

      div {
        @include device(desktop) {
          max-width: 420px;
        }
      }
    }

    img {
      width: 100%;
      max-width: 400px;
      min-height: 140px;

      @include device(desktop) {
        width: 300px;
        height: 240px;
        margin-right: 1.125rem;
        
      }
    }

    h3 {
      @include monospace(16);
      color: var(--title-icons);
      margin: .5rem 0 .3rem;
    }

    p {
      @include monospace(14);
      color: var(--text);
      margin-bottom: .5rem;
    }

    a {
      @include monospace(16);
      color: var(--title-icons);
      text-decoration: none;
      font-weight: bold;
      margin-right: 1rem;
    }
  }
}

.contact-page {
  margin: 0 auto;

  h3 {
    @include serif(20);
    color: var(--title-icons);
    font-weight: normal;
    margin: 0 auto 1.5rem;
    text-align: center;

    @include device(desktop) {
      @include serif(32);
      margin: 0 0 3rem;
      text-align: left;
    }
  }

  div {
    @include device(desktop) {
      display: flex;
      align-items: flex-end;
    }
  }

  ul {
    list-style: none;
  }

  li {
    width: 140px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto .7rem;
    background: var(--nav-bg);

    &:last-child {
      margin-bottom: 0;
    }

    @include device(desktop) {
      margin: 0 0 .9rem;

      &:hover {
        background: var(--highlight);
      }
    }
  }

  a {
    @include monospace(14);
    color: var(--title-icons);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    i {
      font-size: 24px;
    }
  }

  .job {
    margin: 1rem auto 0;
    display: flex;
    align-items: center;
    width: 160px;
    @include monospace(14);
    font-size: 12px;
    color: var(--text);

    @include device(desktop) {
      width: 100%;
      margin: 0 0 .7rem 1.5rem;
    }

    &::before {
      display: inline-block;
      content: '';
      width: 22px;
      height: 12px;
      margin-right: .5rem;
      border-radius: 50%;
      background: #70e000;

      @include device(desktop) {
        width: 12px;
      }
    }

    &.employed {
      width: 190px;

      &::before {
        background: #e71d36;
      }
    }
  }

  .modal-container {
    position: fixed;
    background: rgba(0, 0, 0, .8);
    min-width: 100vw;
    min-height: 100vh;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    z-index: 100;
    display: none;
    margin: 0 auto;

    &.active {
      display: flex;
    }

    .modal {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--nav-bg);
      border: 3px solid var(--text);
      box-shadow: 0 0 0 4px var(--nav-bg);
      width: 75%;
      min-width: 260px;
      max-width: 380px;
      height: 160px;
      margin: auto;

      @include device(desktop) {
        height: 180px;
      }
    }

    .button-close {
      position: absolute;
      top: -17px;
      right: -17px;
      background: var(--highlight);
      color: var(--body-bg);
      width: 32px;
      height: 32px;
      font-size: 20px;
    }

    input {
      width: 80%;
      height: 30px;
      text-align: center;
      @include monospace(14);
    }

    .button-copy {
      @include monospace(16);
      font-weight: bold;
      margin-top: 1rem;
      background: var(--text);
      color: var(--nav-bg);
      width: 120px;
      height: 30px;
    }

    @include device(desktop) {
      top: 52.7%;
    }
  }
}

.links {
  display: none;

  @include device(desktop) {
    display: flex;
    grid-column: 7;
    grid-row: 3;
    justify-self: self-end;
    align-self: center;

    a {
      color: var(--title-icons);
      font-size: 1.48rem;
      padding: .5rem;

      &:hover {
        color: var(--highlight);
      }

      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}

.bg-detail {
  display: none;
  position: absolute;
  width: 100%;
  z-index: -1;

  &.dt1 {
    top: 10%;
    transform: rotate(40deg);
  }

  &.dt2 {
    top: 10%;
    transform: rotate(-40deg);
  }

  path {
    fill: var(--nav-bg);
  }

  @include device(desktop) {
    display: initial;
    max-width: initial;
    max-height: initial;
    min-height: 100%;

    &.dt1 {
      top: -10%;
      left: 35%;
      transform: rotate(55deg);
    }

    &.dt2 {
      left: 20%;
      transform: rotate(-50deg);
    }
  }
}